@{
    ViewBag.Title = "Distilled";
}

@section scripts {
    <script type="text/javascript">
        var main = (function () {

            // initialize global objects
            var genericWorkflowHelper = new genWHelpers();
            var distillCompInstance = new distillCompute();

            var purId = 0;

            var storageList = [];

            var StorageObject = {};

            // data adapters
            var rawMaterialTypeAdapter;
            var vendorAdapter;
            var storageAdapter;
            var ReportingSpiritTypeAdapter;

            function _addEventListeners() {

                $('#QuantityInput').on('change', function (event) {
                    if (!($('#AlcoholContentInput').val() == undefined || $('#AlcoholContentInput').val() == "")) {
                        var qty = $("#QuantityInput").val();
                        var alc = $("#AlcoholContentInput").val();
                        var prf = distillCompInstance.calculateProof(qty, alc);
                        $("#ProofInput").val(prf);
                    }
                    else {
                        $('#ProofInput').val(0);
                    }
                    //var type = event.args.type; // keyboard, mouse or null depending on how the value was changed.
                    //var value = $('#jqxInput').val(); 
                });

                $('#AlcoholContentInput').on('change', function (event) {
                    if (!($('#QuantityInput').val() == undefined || $('#QuantityInput').val() == "")) {
                        var qty = $("#QuantityInput").val();
                        var alc = $("#AlcoholContentInput").val();
                        var prf = distillCompInstance.calculateProof(qty, alc);
                        $("#ProofInput").val(prf);
                    }
                    else {
                        $('#ProofInput').val(0);
                    }
                    //var type = event.args.type; // keyboard, mouse or null depending on how the value was changed.
                    //var value = $('#jqxInput').val(); 
                });

                $("#CreateRecordButton").click(function () {
                    $('#validationForm').jqxValidator('validate');
                });

                $("#ClearInputElementsButton").click(function () {
                    genericWorkflowHelper.emptyControls();
                });

                $('#EditDialogQuantity').on('change', function (event) {
                    if (!($('#EditDialogAlc').val() == undefined || $('#EditDialogAlc').val() == "")) {
                        var qty = $("#EditDialogQuantity").val();
                        var alc = $("#EditDialogAlc").val();
                        var prf = distillCompInstance.calculateProof(qty, alc);
                        $("#EditDialogProof").val(prf);
                    }
                    else {
                        $('#EditDialogProof').val(0);
                    }
                });

                $('#EditDialogAlc').on('change', function (event) {
                    if (!($('#EditDialogQuantity').val() == undefined || $('#EditDialogQuantity').val() == "")) {
                        var qty = $("#EditDialogQuantity").val();
                        var alc = $("#EditDialogAlc").val();
                        var prf = distillCompInstance.calculateProof(qty, alc);
                        $("#EditDialogProof").val(prf);
                    }
                    else {
                        $('#EditDialogProof').val(0);
                    }
                });

                // Select jqxDataTable row
                $("#dataTable").on('rowDoubleClick', function (event) {
                    var args = event.args;
                    var index = args.index;
                    var row = args.row;
                    purId = row.PurchaseId;
                    // update the widgets inside jqxWindow.
                    $("#EditDialog").jqxWindow('setTitle', "Edit Distilled Purchase Record: #" + purId);
                    $("#EditDialog").jqxWindow('open');
                    $("#EditDialog").attr('data-row', index);
                    $("#dataTable").jqxDataTable({ disabled: true });
                    $("#EditDialogPurDate").val(row.PurchaseDate);
                    $("#EditDialogQuantity").val(row.Quantity);
                    $("#EditDialogPurName").val(row.PurBatchName);
                    $("#EditDialogVBW").val(row.VolumeByWeight);
                    $("#EditDialogAlc").val(row.AlcoholContent);
                    $("#EditDialogProof").val(row.ProofGallon);
                    $("#EditDialogPrice").val(row.Price);
                    $("#EditDialogVendor").jqxDropDownList('selectItem', row.VendorName);
                    $("#EditDialogStorage").jqxListBox('clearSelection');
                    for (var k = 0; k < row.Storage.length; k++) {
                        $("#EditDialogStorage").jqxListBox('selectItem', row.Storage[k].StorageName);
                    }
                    $('#EditDialogNotesInput').val(row.Note);
                });

                // Save record within Edit Dialog
                $("#EditDialogSaveRecordButton").mousedown(function () {
                    // close jqxWindow.
                    $("#EditDialog").jqxWindow('close');

                    var items = $("#EditDialogStorage").jqxListBox('getSelectedItems');
                    if (items) {
                        for (var i = 0; i < items.length; i++) {
                            StorageObject = {};
                            StorageObject.StorageId = items[i].originalItem.StorageId;
                            StorageObject.StorageName = items[i].originalItem.StorageName;
                            storageList.push(StorageObject);
                        }
                    }

                    // update edited row.
                    var editRow = parseInt($("#EditDialog").attr('data-row'));
                    var utcDate = genericWorkflowHelper.convertUTC($("#EditDialogPurDate").jqxDateTimeInput('val'), true);
                    var rowData = {
                        PurchaseType: "Distilled",
                        PurchaseId: purId,
                        PurBatchName: $("#EditDialogPurName").jqxInput('val'),
                        PurchaseDate: $("#EditDialogPurDate").jqxDateTimeInput('val'),
                        Quantity: $("#EditDialogQuantity").jqxNumberInput('val'),
                        AlcoholContent: $("#EditDialogAlc").jqxNumberInput('val'),
                        VolumeByWeight: $("#EditDialogVBW").jqxNumberInput('val'),
                        ProofGallon: $("#EditDialogProof").jqxNumberInput('val'),
                        //UnitOfMeasurementId: "",
                        //UnitOfMeasurementName: "",
                        Price: $("#EditDialogPrice").jqxNumberInput('val'),
                        VendorId: $("#EditDialogVendor").jqxDropDownList('getSelectedItem').originalItem.VendorId,
                        VendorName: $("#EditDialogVendor").jqxDropDownList('getSelectedItem').label,
                        Storage: storageList,
                        Note: $('#EditDialogNotesInput').jqxTextArea('val')
                    };
                    $("#dataTable").jqxDataTable('updateRow', editRow, rowData);
                    storageList = [];
                });

                // Delete record within Edit Dialog
                $("#EditDialogDeleteRecordButton").click(function () {
                    // close jqxWindow.
                    $("#EditDialog").jqxWindow('close');
                    // delete row from table.
                    var deleteRow = parseInt($("#EditDialog").attr('data-row'));
                    $("#dataTable").jqxDataTable('deleteRow', deleteRow);
                });

                $("#EditDialogClearInputElementsButton").mousedown(function () {
                    // close jqxWindow.
                    $("#EditDialog").jqxWindow('close');
                });
                $("#EditDialog").on('close', function () {
                    // enable jqxDataTable.
                    $("#dataTable").jqxDataTable({ disabled: false });
                });
        };

            function _createElements() {
                $("#PurchaseDateInput").jqxDateTimeInput({
                    theme: 'bootstrap',
                    textAlign: 'center',
                    height: '26px',
                    width: '130px',
                    formatString: 'MM/dd/yyyy'
                });
                $("#QuantityInput").jqxNumberInput({
                    theme: 'bootstrap',
                    height: '26px',
                    width: '200px',
                    inputMode: 'simple',
                    textAlign: 'center',
                    min: 0
                });
                $("#PurBatch").jqxInput({
                    theme: 'bootstrap',
                    height: '26px',
                    width: '167px',
                    minLength: 0
                });
                $("#VolumeByWeightInput").jqxNumberInput({
                    theme: 'bootstrap',
                    height: '26px',
                    width: '200px',
                    inputMode: 'simple',
                    textAlign: 'center',
                    min: 0
                });
                $("#AlcoholContentInput").jqxNumberInput({
                    theme: 'bootstrap',
                    height: '26px',
                    width: '200px',
                    inputMode: 'simple',
                    textAlign: 'center',
                    min: 0
                });
                $("#ProofInput").jqxNumberInput({
                    theme: 'bootstrap',
                    height: '26px',
                    width: '200px',
                    inputMode: 'simple',
                    textAlign: 'center',
                    min: 0
                });
                $("#PriceInput").jqxNumberInput({
                    theme: 'bootstrap',
                    height: '26px',
                    width: '200px',
                    inputMode: 'simple',
                    textAlign: 'center',
                    min: 0
                });
                $("#VendorInput").jqxDropDownList({
                    source: vendorAdapter,
                    displayMember: "VendorName",
                    theme: 'bootstrap',
                    height: '26px',
                    width: '200px',
                    autoDropDownHeight: true,
                    autoOpen: false,
                    placeHolder: ""
                });
                $("#StorageInput").jqxListBox({
                    source: storageAdapter,
                    displayMember: "StorageName",
                    theme: 'bootstrap',
                    multiple: true
                });
                $('#NotesInput').jqxTextArea({
                    theme: 'bootstrap',
                    height: '100%',
                    width: '100%',
                    minLength: 1
                });
                $("#CreateRecordButton").jqxButton({
                    theme: 'bootstrap',
                    width: '220px',
                    height: '28px'
                });
                $("#ClearInputElementsButton").jqxButton({
                    theme: 'bootstrap',
                    width: '220px',
                    height: '28px'
                });
                $("#MaterialTypeInput").jqxListBox({
                    theme: 'bootstrap',
                    source: rawMaterialTypeAdapter,
                    displayMember: "RawMaterialName",
                    valueMember: "RawMaterialId",
                    width: '100%'
                });
                $("#ReportingSpiritTypeDropDown").jqxDropDownList({
                    source: ReportingSpiritTypeAdapter,
                    displayMember: 'ProductTypeName',
                    valueMember: 'SpiritTypeReportingID',
                    theme: 'bootstrap',
                    height: '26px',
                    width: '175px',
                    autoDropDownHeight: true,
                    autoOpen: false,
                    placeHolder: ""
                });
                $('#validationForm').jqxValidator({
                    closeOnClick: true,
                    onSuccess: function () {
                        _createRecord();
                        genericWorkflowHelper.emptyControls();
                    },
                    onError: function () {
                        alert('Please complete filling out the form');
                    },
                    rules: [
                        {
                            input: "#MaterialTypeInput", message: "Please Select Material Type", action: 'click', rule: function (input, commit) {
                                var index = $("#MaterialTypeInput").jqxListBox('getSelectedIndex');
                                return index != -1;
                            }
                        },
                        { input: '#PurBatch', message: 'Batch Name Required', action: 'blur', rule: 'required' },
                        {
                            input: '#QuantityInput', message: 'Please Enter Quantity', action: 'blur', rule: function () {
                                var quantityValue = $("#QuantityInput").val();
                                var volumeValue = $('#VolumeByWeightInput').val();
                                if (volumeValue != 0) {
                                    return true;
                                } else if (quantityValue > 0) {
                                    $('#validationForm').jqxValidator('validateInput', '#VolumeByWeightInput');
                                    return true;
                                }
                                return false;
                            }
                        },
                        {
                            input: '#VolumeByWeightInput', message: 'Please Enter Volume', action: 'blur', rule: function () {
                                var volumeValue = $('#VolumeByWeightInput').val();
                                var quantityValue = $("#QuantityInput").val();
                                if (quantityValue != 0) {
                                    return true;
                                } else if (volumeValue > 0) {
                                    $('#validationForm').jqxValidator('validateInput', '#QuantityInput');
                                    return true;
                                }
                                return false;
                            }
                        },
                        {
                            input: '#AlcoholContentInput', message: 'Please Enter Alcohol Content', action: 'blur', rule: function () {
                                var value = $('#AlcoholContentInput').val();
                                return value > 0 ? true : false;
                            }
                        },
                        {
                            input: '#PriceInput', message: 'Please Enter Price', action: 'blur', rule: function () {
                                var value = $('#PriceInput').val();
                                return value > 0 ? true : false;
                            }
                        },
                        {
                            input: "#VendorInput", message: "Please Select Vendor", action: 'blur', rule: function (input, commit) {
                                var index = $("#VendorInput").jqxDropDownList('getSelectedIndex');
                                return index != -1;
                            }
                        },
                        {
                            input: "#StorageInput", message: "Please Select Storage", action: 'click', rule: function (input, commit) {
                                var selectedItems = $("#StorageInput").jqxListBox('getSelectedItems');
                                return selectedItems.length > 0 ? true : false;
                            }
                        },
                        {
                            input: "#ReportingSpiritTypeDropDown",
                            message: "Please Select Spirit Type",
                            action: 'blur',
                            rule: function (input, commit) {
                                var index = $("#ReportingSpiritTypeDropDown").jqxDropDownList('getSelectedIndex');
                                if (index != -1) {
                                    return true;
                                }
                                return false;
                            }
                        }
                    ]
                });
            };

            function _bindReportingSpiritTypes() {
                var url = '/Purchase/GetReportingSpiritTypes';
                var source = {
                    datatype: "json",
                    dataFields: [
                        { name: 'SpiritTypeReportingID', type: 'number' },
                        { name: 'ProductTypeName', type: 'string' }
                    ],
                    id: 'SpiritTypeReportingID',
                    url: url,
                    async: true
                }
                ReportingSpiritTypeAdapter = new $.jqx.dataAdapter(source,
                    {
                        autoBind: true,
                        loadComplete: function (records) {
                            ReportingSpiritTypeAdapter = records;
                        }
                    });
            }

            function _bindRawMaterialTypes() {
                var url = '/Purchase/GetRawMaterialList';
                var source = {
                    datatype: "json",
                    dataFields: [
                        { name: 'RawMaterialId' },
                        { name: 'RawMaterialName' },
                        { name: 'UnitType' },
                        { name: 'Note' }
                    ],
                    id: 'RawMaterialId',
                    url: url,
                    data: { purchaseType: "Distilled" }
                }
                rawMaterialTypeAdapter = new $.jqx.dataAdapter(source,
                    {
                        autoBind: true,
                        async: true
                    });
            }

            function _bindVendorData() {
                var url = '/Purchase/GetVendorData';
                var source = {
                    datatype: "json",
                    dataFields: [
                        { name: 'VendorId' },
                        { name: 'VendorName' },
                        { name: 'Note' }
                    ],
                    id: 'VendorId',
                    url: url
                }
                vendorAdapter = new $.jqx.dataAdapter(source,
                    {
                        autoBind: true
                    });
            }

            function _bindStorageData() {
                var url = '/Purchase/GetStorageData';
                var source = {
                    datatype: "json",
                    dataFields: [
                        { name: 'StorageId' },
                        { name: 'StorageName' },
                        { name: 'Note' }
                    ],
                    id: 'StorageId',
                    url: url
                }
                storageAdapter = new $.jqx.dataAdapter(source,
                    {
                        autoBind: true
                    });
            }

            function _createRecord() {

                var items = $("#StorageInput").jqxListBox('getSelectedItems');
                if (items) {
                    for (var i = 0; i < items.length; i++) {
                        StorageObject = {};
                        StorageObject.StorageId = items[i].originalItem.StorageId;
                        StorageObject.StorageName = items[i].originalItem.StorageName;
                        storageList.push(StorageObject);
                    }
                }

                var spiritTypeReportingID = $('#ReportingSpiritTypeDropDown').jqxDropDownList('getSelectedItem').originalItem.SpiritTypeReportingID != undefined ?
                    $('#ReportingSpiritTypeDropDown').jqxDropDownList('getSelectedItem').originalItem.SpiritTypeReportingID : null;

                var utcDate = genericWorkflowHelper.convertUTC($("#PurchaseDateInput").jqxDateTimeInput('val'), true);

                var purchaseObject = {
                    PurchaseType: "Distilled",
                    PurchaseId: "",
                    PurBatchName: 'PUR-' + $("#PurBatch").jqxInput('val'),
                    RecordId: $("#MaterialTypeInput").jqxListBox('getSelectedItem').originalItem.RawMaterialId,
                    RecordName: $("#MaterialTypeInput").jqxListBox('getSelectedItem').label,
                    PurchaseDate: utcDate,
                    Quantity: $("#QuantityInput").jqxNumberInput('val'),
                    AlcoholContent: $("#AlcoholContentInput").jqxNumberInput('val'),
                    VolumeByWeight: $("#VolumeByWeightInput").jqxNumberInput('val'),
                    ProofGallon: $("#ProofInput").jqxNumberInput('val'),
                    Price: $("#PriceInput").jqxNumberInput('val'),
                    VendorId: $("#VendorInput").jqxDropDownList('getSelectedItem').originalItem.VendorId,
                    VendorName: $("#VendorInput").jqxDropDownList('getSelectedItem').label,
                    Storage: storageList,
                    SpiritTypeReportingID: spiritTypeReportingID,
                    Note: $('#NotesInput').jqxTextArea('val')
                };

                $.ajax({
                    type: "POST",
                    url: '/Purchase/CreatePurchaseRecord',
                    data: JSON.stringify(purchaseObject),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    error: function (response) {
                        alert(response.responseText)
                    },
                    success: function (result) {
                        //on success will need to refresh the table and also empty the form
                        alert(result);
                        $("#dataTable").jqxDataTable('updateBoundData');
                        //window.locationre = result.url;
                    }
                });
            }

            function _RecordsViewFunction() {
                // prepare the data
                var source =
                {
                    dataType: "json",
                    dataFields: [
                        { name: 'PurchaseId', type: 'number' },
                        { name: 'RecordId', type: 'number' },
                        { name: 'PurBatchName', type: 'string' },
                        { name: 'PurchaseDate', type: 'date' },
                        { name: 'Quantity', type: 'float' },
                        { name: 'AlcoholContent', type: 'float' },
                        { name: 'VolumeByWeight', type: 'float' },
                        { name: 'ProofGallon', type: 'float' },
                        { name: 'Price', type: 'float' },
                        { name: 'VendorId', type: 'number' },
                        { name: 'VendorName', type: 'string' },
                        { name: 'Storage' },
                        { name: 'Note', type: 'string' }
                    ],
                    id: 'PurchaseId',
                    url: '/Purchase/GetListOfPurchases',
                    data: { purchaseType: "Distilled" },
                    addRow: function (rowID, rowData, position, commit) {
                        // synchronize with the server - send insert command
                        // call commit with parameter true if the synchronization with the server is successful
                        // and with parameter false if the synchronization failed.
                        // you can pass additional argument to the commit callback which represents the new ID if it is generated from a DB.
                        commit(true);
                    },
                    updateRow: function (rowID, rowData, commit) {
                        // synchronize with the server - send update command
                        // call commit with parameter true if the synchronization with the server is successful
                        // and with parameter false if the synchronization failed.
                        var PurchaseObject = {
                            PurchaseType: "Distilled",
                            PurchaseId: rowData.PurchaseId,
                            PurBatchName: rowData.PurBatchName,
                            // RecordId: $("#MaterialTypeInput").jqxListBox('getSelectedItem').originalItem.RawMaterialId,
                            // RecordName: $("#MaterialTypeInput").jqxListBox('getSelectedItem').label,
                            PurchaseDate: rowData.PurchaseDate,
                            Quantity: rowData.Quantity,
                            AlcoholContent: rowData.AlcoholContent,
                            VolumeByWeight: rowData.VolumeByWeight,
                            ProofGallon: rowData.ProofGallon,
                            Price: rowData.Price,
                            VendorId: rowData.VendorId,
                            Storage: rowData.Storage,
                            Note: rowData.Note
                        };

                        $.ajax({
                            type: "POST",
                            url: '/Purchase/UpdateDistilled',
                            data: JSON.stringify(PurchaseObject),
                            dataType: "json",
                            contentType: "application/json; charset=utf-8",
                            error: function (response) {
                                alert(response.responseText)
                            },
                            success: function (result) {
                                //on success will need to refresh the table and also empty the form
                                recordsDataAdapter.dataBind();
                                commit(true);
                                //window.locationre = result.url;
                            }
                        });
                    },
                    deleteRow: function (rowID, commit) {
                        // synchronize with the server - send delete command
                        // call commit with parameter true if the synchronization with the server is successful
                        // and with parameter false if the synchronization failed.
                        var purchaseObject = {
                            PurchaseType: "Distilled",
                            PurchaseId: rowID
                        };

                        $.ajax({
                            type: "POST",
                            url: '/Purchase/DeleteDistilled',
                            data: JSON.stringify(purchaseObject),
                            dataType: "json",
                            contentType: "application/json; charset=utf-8",
                            error: function (response) {
                                alert(response.responseText)
                            },
                            success: function (result) {
                                //on success will need to refresh the table and also empty the form
                                commit(true);
                                recordsDataAdapter.dataBind();
                                //window.locationre = result.url;
                            }
                        });
                    }
                };

                var recordsDataAdapter = new $.jqx.dataAdapter(source, {
                    beforeLoadComplete: function (records) {
                        for (var i = 0; i < records.length; i++) {
                            records[i].PurchaseDate = genericWorkflowHelper.convertUTC(records[i].PurchaseDate, false);
                        }
                    }
                });

                // create Table Grid
                $("#dataTable").jqxDataTable(
                {
                    width: '100%',
                    source: recordsDataAdapter,
                    theme: 'metro',
                    pageSize: 15,
                    sortable: true,
                    filterable: true,
                    pageable: true,
                    pagerPosition: 'top',
                    autoRowHeight: false,
                    ready: function () {

                        $("#EditDialogPurDate").jqxDateTimeInput({
                            theme: 'bootstrap',
                            textAlign: 'center',
                            height: '26px',
                            width: '130px',
                            formatString: "MM/dd/yyyy HH:mm"
                        });
                        $("#EditDialogQuantity").jqxNumberInput({
                            theme: 'bootstrap', height: '26px', width: '200px', inputMode: 'simple', textAlign: 'center', min: 0
                        });
                        $("#EditDialogPurName").jqxInput({
                            theme: 'bootstrap',
                            height: '26px',
                            width: '200px',
                            minLength: 0
                        });
                        $("#EditDialogVBW").jqxNumberInput({
                            theme: 'bootstrap', height: '26px', width: '200px', inputMode: 'simple', textAlign: 'center', min: 0
                        });
                        $("#EditDialogAlc").jqxNumberInput({
                            theme: 'bootstrap', height: '26px', width: '200px', inputMode: 'simple', textAlign: 'center', min: 0
                        });
                        $("#EditDialogProof").jqxNumberInput({
                            theme: 'bootstrap', height: '26px', width: '200px', inputMode: 'simple', textAlign: 'center', min: 0
                        });
                        $("#EditDialogPrice").jqxNumberInput({
                            theme: 'bootstrap', height: '26px', width: '200px', inputMode: 'simple', textAlign: 'center', min: 0
                        });
                        $("#EditDialogVendor").jqxDropDownList({
                            source: vendorAdapter,
                            displayMember: "VendorName",
                            theme: 'bootstrap',
                            height: '26px',
                            width: '200px',
                            autoDropDownHeight: true,
                            autoOpen: false,
                            placeHolder: ""
                        });
                        $("#EditDialogStorage").jqxListBox({
                            source: storageAdapter,
                            displayMember: "StorageName",
                            theme: 'bootstrap',
                            selectedIndex: 0,
                            multiple: true
                        });
                        $('#EditDialogNotesInput').jqxTextArea({
                            theme: 'bootstrap',
                            height: '50px',
                            width: '200px',
                            minLength: 1
                        });
                        $("#EditDialogSaveRecordButton").jqxButton({
                            theme: 'bootstrap',
                            width: '220px',
                            height: '28px'
                        });
                        $("#EditDialogDeleteRecordButton").jqxButton({
                            theme: 'bootstrap',
                            height: 30,
                            width: 80
                        });
                        $("#EditDialogClearInputElementsButton").jqxButton({
                            theme: 'bootstrap',
                            width: '220px',
                            height: '28px'
                        });
                        $("#EditDialog").jqxWindow({
                            position: 'center',
                            width: 'auto',
                            height: 'auto',
                            modalOpacity: 0.5,
                            autoOpen: false,
                            isModal: false
                        });
                        $("#EditDialog").css('visibility', 'visible');
                    },
                    columns: [
                        {
                            text: 'Batch Name',
                            dataField: 'PurBatchName',
                            cellsAlign: 'center',
                            align: 'center',
                            width: '20%'
                        },
                        {
                            text: 'Purchase Date/Time',
                            dataField: 'PurchaseDate',
                            cellsFormat: 'MM/dd/yyyy',
                            cellsAlign: 'center',
                            align: 'center',
                            width: '12%'
                        },
                        {
                            text: 'Vendor',
                            dataField: 'VendorName',
                            cellsAlign: 'center',
                            align: 'center',
                            width: '12%'
                        },
                        {
                            text: 'Qty (gal)',
                            dataField: 'Quantity',
                            cellsAlign: 'center',
                            align: 'center',
                            width: '8%'
                        },
                        {
                            text: 'Alcohol %',
                            dataField: 'AlcoholContent',
                            cellsAlign: 'center',
                            align: 'center',
                            width: '8%'
                        },
                        {
                            text: 'Proof Gallons',
                            dataField: 'ProofGallon',
                            cellsAlign: 'center',
                            align: 'center',
                            width: '8%'
                        },
                        {
                            text: 'Volume By Weight (lb)',
                            dataField: 'VolumeByWeight',
                            cellsAlign: 'center',
                            align: 'center',
                            width: '12%'
                        },
                        {
                            text: 'Price',
                            dataField: 'Price',
                            cellsFormat: 'c2',
                            cellsAlign: 'center',
                            align: 'center',
                            width: '8%'
                        },
                        {
                            text: 'Notes',
                            dataField: 'Note',
                            cellsAlign: 'center',
                            align: 'center'
                        }
                    ]
                });
            }

            return {
                config: {
                    dragArea: null
                },
                init: function () {
                    // bind data
                    _bindVendorData();
                    _bindStorageData();
                    _bindRawMaterialTypes();
                    _bindReportingSpiritTypes();
                    //Creating all jqxWindgets except the window
                    _createElements();
                    //Populate Table
                    _RecordsViewFunction();
                    //Attaching event listeners
                    _addEventListeners();
                }
            };
        }());

        $(document).ready(function () {
            main.init();
        });
    </script>
}

<div class="container-fluid body-content">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li>@Html.ActionLink("Fermentable", "Fermentable", "Purchase")</li>
                <li>@Html.ActionLink("Fermented", "Fermented", "Purchase")</li>
                <li class="active">@Html.ActionLink("Distilled", "Distilled", "Purchase")</li>
                <li>@Html.ActionLink("Supplies", "Supplies", "Purchase")</li>
                <li>@Html.ActionLink("Additives", "Additives", "Purchase")</li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1>Purchase / Distilled</h1>
            <div class="well">
                <!-- Nav tabs -->
                <ul class="nav nav-pills" role="tablist">
                    <li role="presentation" class="active"><a href="#createRecord" aria-controls="createRecord" role="tab" data-toggle="pill">Enter Distilled Purchase</a></li>
                    <li role="presentation"><a href="#viewRecord" aria-controls="viewRecord" role="tab" data-toggle="tab">View/Edit Distilled Purchase Data</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="createRecord">
                        <div class="row">
                            <div class="col-md-6">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <p class="text-center">Please select distilled material type</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <div id="MaterialTypeInput"></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="PurBatch" class="col-sm-6 control-label">Purchase Batch Name</label>
                                        <div class="col-sm-6">
                                            PUR -<input id="PurBatch" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="PurchaseDateInput" class="col-sm-6 control-label">Purchase Date</label>
                                        <div class="col-sm-6">
                                            <div id="PurchaseDateInput"></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="QuantityInput" class="col-sm-6 control-label">Volume (gal)</label>
                                        <div class="col-sm-6">
                                            <div id="QuantityInput"></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="VolumeByWeightInput" class="col-sm-6 control-label">Weight (lb)</label>
                                        <div class="col-sm-6">
                                            <div id="VolumeByWeightInput"></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="AlcoholContentInput" class="col-sm-6 control-label">Alcohol Content (%)</label>
                                        <div class="col-sm-6">
                                            <div id="AlcoholContentInput"></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="ProofInput" class="col-sm-6 control-label">Proof Gallons</label>
                                        <div class="col-sm-6">
                                            <div id="ProofInput"></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="PriceInput" class="col-sm-6 control-label">Price (Total)</label>
                                        <div class="col-sm-6">
                                            <div id="PriceInput"></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="VendorInput" class="col-sm-6 control-label">Vendor</label>
                                        <div class="col-sm-6">
                                            <div id="VendorInput"></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="StorageInput" class="col-sm-6 control-label">Storage</label>
                                        <div class="col-sm-6">
                                            <div id="StorageInput"></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="ReportingSpiritTypeDropDown" class="col-sm-6 control-label">Spirit Type for Reporting</label>
                                        <div class="col-sm-6">
                                            <div id="ReportingSpiritTypeDropDown"></div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-6 note-column">
                                <form class="text-center">
                                    <div class="form-group">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">Notes</div>
                                            <div class="panel-body">
                                                <textarea class="form-control" id='NotesInput'></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-8">
                                            <div id='validationForm'></div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <button id="CreateRecordButton">Create Record</button>
                                <button id="ClearInputElementsButton">Clear Form</button>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="viewRecord">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="dataTable"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="visibility: hidden;" id="EditDialog">
                <div style="overflow: hidden;">
                    <table style="table-layout: fixed; border-style: none;">
                        <tr>
                            <td align="right">
                                Purchase Batch Name:
                            </td>
                            <td align="left">
                                <input id="EditDialogPurName" type="text" readonly disabled="disabled" />
                            </td>
                        </tr>
                        <tr>
                            <td align="right">
                                Purchase Date:
                            </td>
                            <td align="left">
                                <div id="EditDialogPurDate"></div>
                            </td>
                        </tr>
                        <tr>
                            <td align="right">
                                Quantity (gals):
                            </td>
                            <td align="left">
                                <div id="EditDialogQuantity" type="text"></div>
                            </td>
                        </tr>
                        <tr>
                            <td align="right">
                                Volume By Weight (lbs):
                            </td>
                            <td align="left">
                                <div id="EditDialogVBW" type="text"></div>
                            </td>
                        </tr>
                        <tr>
                            <td align="right">
                                Alcohol Content (%):
                            </td>
                            <td align="left">
                                <div id="EditDialogAlc" type="text"></div>
                            </td>
                        </tr>
                        <tr>
                            <td align="right">
                                Proof Gallons:
                            </td>
                            <td align="left">
                                <div id="EditDialogProof" type="text"></div>
                            </td>
                        </tr>
                        <tr>
                            <td align="right">
                                Price:
                            </td>
                            <td align="left">
                                <div id="EditDialogPrice" type="text"></div>
                            </td>
                        </tr>
                        <tr>
                            <td align="right">
                                Vendor:
                            </td>
                            <td align="left">
                                <div id="EditDialogVendor"></div>
                            </td>
                        </tr>
                        <tr>
                            <td align="right">
                                Storage:
                            </td>
                            <td align="left">
                                <div id="EditDialogStorage"></div>
                            </td>
                        </tr>
                        <tr>
                            <td align="right">Notes:</td>
                            <td align="left">
                                <textarea class="pull-left" id='EditDialogNotesInput'></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" align="right">
                                <br />
                                <button id="EditDialogSaveRecordButton">Save</button>
                                <button id="EditDialogDeleteRecordButton">Delete</button>
                                <button style="margin-left: 5px;" id="EditDialogClearInputElementsButton">Cancel</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            @Html.Partial("_FooterPartial")
        </div>
    </div>
</div>
